<!-- Wrap -->
<div id="wrap">
<div id="content">
<div class="title-head"><h1>Events</h1>
<span id="age-selector">
  <a class="event-age-filter event-age-filter-none" href="#" onclick="filter_age('none'); return true">All</a><a class="event-age-filter event-age-filter-under-21" href="#age=under-21" onclick="filter_age('under-21'); return true">Under 21</a><a class="event-age-filter event-age-filter-over-21" href="#age=over-21" onclick="filter_age('over-21'); return true">21+</a>
</span>
</div><!-- end #title-head -->
<script>
function handleHashChange(){
 query_string = window.location.hash.substring(1);
 age_group = query_string.split('=')[1];
 filter_age(age_group);
 jQuery('.event-age-filter-'+age_group).addClass('selected');
}
(function($){
$(document).ready(function(){
  $('a').not('#age-selector a').attr('onclick', 'return true');
  window.filter_age = function(age_group){
    if($('.event-age-filter-'+age_group).is('.selected')) return;
    $('.event-archive, .event-archive2').slideDown();
    $('.event-age-filter').removeClass('selected');
    switch(age_group){
      case 'under-21':
        $('.event-archive2.age-21, .event-archive.age-21').slideUp();
        $('.event-age-filter-'+age_group).addClass('selected');
        break;
      case 'over-21':
        $('.event-archive, .event-archive2').not('.age-21').slideUp();
        $('.event-age-filter-'+age_group).addClass('selected');
        break;
      default:
        $('.event-age-filter-none').addClass('selected');
    }
  }
  handleHashChange();
});
})(jQuery);
</script>
<style type="text/css">
html *{
  text-shadow: 0 -1px 0 black;
}
.title-head h1{
  display: inline;
  vertical-align: middle;
}
#age-selector .event-age-filter{
  border: 1px solid #444;
  border-right: 0;
  padding: 5px 23px;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}
#age-selector .event-age-filter.selected{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(255,255,255,0.2));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(255,255,255,0.2));
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
}
#age-selector .event-age-filter:first-child{
  border-left-color: #444;
}
#age-selector .event-age-filter:last-child{
  border-right: 1px solid #444;
}
</style>
</div>

<div class="fixed">
  <div class="col-blog-archive">
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Sun</div>
        <div class="event-arc-day">05</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/borgore-carnage-prime/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/04/Borgore-166x166.png" alt="$35 &#8211; Borgore, Carnage" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/borgore-carnage-prime/">$35 &#8211; Borgore, Carnage</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Prime</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 am</p>
          </div><!-- end #event-arc-info --> Borgore &amp; Carnage &nbsp; Carnage &nbsp; Carnage Live Mix (Ultra 2013) &nbsp; Borgore &nbsp; Borgore Live Mix (Ultra 2013) <div class="event-tickets"><a href="http://wantickets.com/Events/124066/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/124066/" data-text="@Borgore and @DJCarnage at @PrimeBoston http://www.bostonedmcalendar.com/event/borgore-carnage-prime/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Tuesday</div>
        <div class="event-arc-day2">07</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$31 &#8211; The Presets, Dragonette, Classixx</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A72ECD0C628" data-text="@ThePresets, @Dragonette & @Classixx at @ParadiseRockClub" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Paradise Rock Club</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 am</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketmaster.com/event/01004A72ECD0C628" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Wed</div>
        <div class="event-arc-day">08</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/35-a-trak-prime/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/A-Trak-166x166.jpg" alt="$35 &#8211; A-Trak @ Prime" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/35-a-trak-prime/">$35 &#8211; A-Trak @ Prime</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Prime</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 am</p>
          </div><!-- end #event-arc-info -->  A-Trak is well known to be one of the best DJs both in terms of technical skill and notoriety.  A-Trak was the both first DJ to win all DMC, ITC and Vestax  ... <div class="event-tickets"><a href="http://wantickets.com/Events/124102/A-TRAK-at-PRIME/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/124102/A-TRAK-at-PRIME/" data-text="@ATrak at @PrimeBoston http://www.bostonedmcalendar.com/event/35-a-trak-prime/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Wed</div>
        <div class="event-arc-day">08</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/dirtyphonics-le-castle-vania-etcetc-royale-18/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Dirtyphonics-166x166.jpg" alt="$23 &#8211; Dirtyphonics, Le Castle Vania &#038; ETC!ETC! @ Royale (18+)" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/dirtyphonics-le-castle-vania-etcetc-royale-18/">$23 &#8211; Dirtyphonics, Le Castle Vania &#038; ETC!ETC! @ Royale (18+)</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Royale</p><p class="event-arc-age">18+</p><p class="event-arc-time">07:00 pm – 12:00 am</p>
          </div><!-- end #event-arc-info -->  Dirtyphonics, Le Castle Vania and ETC!ETC!  An awesome lineup!  The first two are electro house/dubstep and the former (ETC!ETC!) does trap. &nbsp; Le Castle  ... <div class="event-tickets"><a href="http://www.ticketfly.com/purchase/eventV2/223679" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketfly.com/purchase/eventV2/223679" data-text="@DIRTYPHONICS, @LeCastleVania & @IAMETC at @RoyaleBoston http://www.bostonedmcalendar.com/event/dirtyphonics-le-castle-vania-etcetc-royale-18/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-All ages">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Wednesday</div>
        <div class="event-arc-day2">08</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$32/$43 &#8211; James Blake</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://concerts.livenation.com/event/01004A3CCC02B6BD" data-text="@JamesBlake at @HOBBoston" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">House of Blues, Boston</p><p class="event-arc-age">All ages</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://concerts.livenation.com/event/01004A3CCC02B6BD" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Thu</div>
        <div class="event-arc-day">09</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/33-alex-clare-paradise/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Alex-Clare-166x166.png" alt="$33 &#8211; Alex Clare @ Paradise" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/33-alex-clare-paradise/">$33 &#8211; Alex Clare @ Paradise</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Paradise Rock Club</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm
          </div><!-- end #event-arc-info -->  &#8230;and it feels like I am just to close to looove you! Alex Clare reached #7 in the Billboard Top-40, thanks in part to Diplo and Switch (AKA Major Lazer)  ... <div class="event-tickets"><a href="http://www.ticketmaster.com/event/0100498EB107B2C2" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/0100498EB107B2C2" data-text="Alex Clare (@AlexanderClare) at @ParadiseRockClub http://www.bostonedmcalendar.com/event/33-alex-clare-paradise/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Sat</div>
        <div class="event-arc-day">11</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/minnesota-brighton-music-hall/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Minnesota-166x166.jpg" alt="$19 &#8211; Minnesota @ Brighton Music Hall" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/minnesota-brighton-music-hall/">$19 &#8211; Minnesota @ Brighton Music Hall</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Brighton Music Hall</p><p class="event-arc-age">21+</p><p class="event-arc-time">9:00 pm  – 01:00 am</p>
          </div><!-- end #event-arc-info -->  This dude definitely gets slept on. He does Dubstep, his music is heavy and melodic, as opposed to unpredictable and violent, as Dubstep sometimes can be.  ... <div class="event-tickets"><a href="http://wantickets.com/Events/124202/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/124202/" data-text="@minnesotaBASS at @Brighton_Music Hall http://www.bostonedmcalendar.com/event/minnesota-brighton-music-hall/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Sunday</div>
        <div class="event-arc-day2">12</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$19 &#8211; Tiga</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A96A82FB1A7" data-text="Tiga (@ciaotiga) at @TheSinclair" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">The Sinclair</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketmaster.com/event/01004A96A82FB1A7" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive age-All ages">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Mon</div>
        <div class="event-arc-day">13</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/crystal-castles-house-of-blue/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Crystal-Castles-166x166.png" alt="$34 &#8211; Crystal Castles @ HOB" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/crystal-castles-house-of-blue/">$34 &#8211; Crystal Castles @ HOB</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">House of Blues, Boston</p><p class="event-arc-age">All ages</p><p class="event-arc-time">08:00 pm
          </div><!-- end #event-arc-info --> Saw these guys at Ultra, they definitely have a jam-band sound. Bottle of Jack on stage. Similar to Simian Mobile Disco if you had a chance to catch that. Their  <div class="event-tickets"><a href="http://concerts.livenation.com/event/01004A289D5657B6" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://concerts.livenation.com/event/01004A289D5657B6" data-text="@CRYSTALCASTLESS at @HOBBoston http://www.bostonedmcalendar.com/event/crystal-castles-house-of-blue/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Mon</div>
        <div class="event-arc-day">13</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/ferry-corsten-royale/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/04/Ferry-Corsten3-166x166.jpg" alt="$23/$28 &#8211; Ferry Corsten" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/ferry-corsten-royale/">$23/$28 &#8211; Ferry Corsten</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Royale</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 am</p>
          </div><!-- end #event-arc-info -->  Ferry Corsten is a versatile DJ and producer, mostly known for his work as a trance producer. This show is priced very reasonably for such a big name&#8230;  ... <div class="event-tickets"><a href="http://www.ticketfly.com/purchase/event/254451" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketfly.com/purchase/event/254451" data-text="@FerryCorsten at @RoyaleBoston http://www.bostonedmcalendar.com/event/ferry-corsten-royale/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Tue</div>
        <div class="event-arc-day">14</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/thomas-gold-bijou-2/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/01/Thomas-Gold-166x166.png" alt="$36 &#8211; Thomas Gold" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/thomas-gold-bijou-2/">$36 &#8211; Thomas Gold</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Bijou</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 pm</p>
          </div><!-- end #event-arc-info -->  Thomas Gold is a house producer, and has done a number of excellent remixes. Thomas Gold, to me, doesn&#8217;t as much stand out for one track but for  ... <div class="event-tickets"><a href="http://wantickets.com/Events/125601/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/125601/" data-text="@ThomasGold at @BijouBoston http://www.bostonedmcalendar.com/event/thomas-gold-bijou-2/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Tuesday</div>
        <div class="event-arc-day2">14</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$18 &#8211; Four Tet</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3556714" data-text="@FourTet at @MidEastClub" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Middle East Downstairs</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3556714" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Wednesday</div>
        <div class="event-arc-day2">15</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>Fred Falke @ Naga</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://digboston.com/listen/2013/03/exclusive-together-announces-kitsune-club-night-with-lifelike-fred-falke/" data-text="@FredFalkeMusic at Naga" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Naga</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://digboston.com/listen/2013/03/exclusive-together-announces-kitsune-club-night-with-lifelike-fred-falke/" target="_blank" >News Article</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Thu</div>
        <div class="event-arc-day">16</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/17-uz-voltran-middle-east-downstairs-18/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/04/UZ1-166x166.jpg" alt="$17 &#8211; UZ, Voltran @ Middle East Downstairs (18+)" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/17-uz-voltran-middle-east-downstairs-18/">$17 &#8211; UZ, Voltran @ Middle East Downstairs (18+)</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Middle East Downstairs</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm
          </div><!-- end #event-arc-info -->  UZ is an anonymous trap producer (he&#8217;s always masked) off of Mad Decent, perhaps one of the biggest names in the genre. Also playing: Voltran, Bass  ... <div class="event-tickets"><a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3529144" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3529144" data-text="UZ (@BallTrapMusic), Voltran, @BassAlchemists and @DJWubson at @MidEastClub http://www.bostonedmcalendar.com/event/17-uz-voltran-middle-east-downstairs-18/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Thursday</div>
        <div class="event-arc-day2">16</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$22 &#8211; !!!</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A48CB00C0FD" data-text="@chkchkchk at @TheSinclair" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">The Sinclair</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketmaster.com/event/01004A48CB00C0FD" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Friday</div>
        <div class="event-arc-day2">17</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$23 &#8211; Art Department, Tamer Malki</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.wantickets.com/Events/124323/" data-text="@TamerMalki at @BijouBoston" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Bijou</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 am</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.wantickets.com/Events/124323/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Fri</div>
        <div class="event-arc-day">17</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/loudpvck-mod-m-o-d-paradise/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/02/Loudpvck-166x166.jpg" alt="$20 &#8211;  LOUDPVCK, M|O|D" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/loudpvck-mod-m-o-d-paradise/">$20 &#8211;  LOUDPVCK, M|O|D</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Paradise Rock Club</p><p class="event-arc-age">18+</p><p class="event-arc-time">09:00 am
          </div><!-- end #event-arc-info -->  LOUDPVCK (pronounced Loudpack, if you haven&#8217;t caught onto that trend in &#8220;TRVP&#8221; music.)  Playing alongside GANoobie.  In the spirit of full  ... <div class="event-tickets"><a href="http://www.ticketmaster.com/event/01004A85D436EB60" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A85D436EB60" data-text="@LOUDPVCK and M|O|D (@liltexas) at @ParadiseRockClub http://www.bostonedmcalendar.com/event/loudpvck-mod-m-o-d-paradise/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Sat</div>
        <div class="event-arc-day">18</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/19-gold-panda-brighton-music-hall/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Gold-Panda-166x166.jpeg" alt="$19 &#8211; Gold Panda @ Brighton Music Hall" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/19-gold-panda-brighton-music-hall/">$19 &#8211; Gold Panda @ Brighton Music Hall</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Brighton Music Hall</p><p class="event-arc-age">18+</p><p class="event-arc-time">09:00 pm
          </div><!-- end #event-arc-info --> Gold Panda is an trip-hop/indie electronic music artist, similar perhaps to RJD2 or Emancipator. &nbsp; Gold Panda performing &#8220;You&#8221; live <div class="event-tickets"><a href="http://www.ticketmaster.com/event/01004A30C3398CB7" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A30C3398CB7" data-text="@GoldPanda at @Brighton_Music Hall http://www.bostonedmcalendar.com/event/19-gold-panda-brighton-music-hall/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-18">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Tue</div>
        <div class="event-arc-day">21</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/50-above-beyond-royale-18/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Above-and-Beyond-166x166.jpg" alt="$50 &#8211; Above &#038; Beyond @ Royale (18+)" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/50-above-beyond-royale-18/">$50 &#8211; Above &#038; Beyond @ Royale (18+)</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Royale</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm – 12:00 am</p>
          </div><!-- end #event-arc-info -->  Above &amp; Beyond &#8212; if you know trance, you know Above &amp; Beyond.  I can&#8217;t listen to these guys and not imagine dancing my ass off in a club  ... <div class="event-tickets"><a href="http://www.ticketfly.com/purchase/eventV2/240639" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketfly.com/purchase/eventV2/240639" data-text="@AboveAndBeyond at @RoyaleBoston (18+ Night) http://www.bostonedmcalendar.com/event/50-above-beyond-royale-18/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive age-21">     
      <div class="event-arc-data">
        <div class="event-arc-weekday">Wed</div>
        <div class="event-arc-day">22</div>
        <div class="event-arc-month">May</div>
      </div><!-- end #event-arc-data -->     
      <div class="event-arc-cover">
        <a href="http://www.bostonedmcalendar.com/event/50-above-and-beyond-royale-21/"><img src="http://www.bostonedmcalendar.com/wp-content/uploads/2013/03/Above-and-Beyond-166x166.jpg" alt="$50 &#8211; Above &#038; Beyond @ Royale (21+)" /></a>                
      </div><!-- end #event-arc-cover -->
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a href="http://www.bostonedmcalendar.com/event/50-above-and-beyond-royale-21/">$50 &#8211; Above &#038; Beyond @ Royale (21+)</a></h2>
          <div class="event-arc-info"><p class="event-arc-venue">Royale</p><p class="event-arc-age">21+</p><p class="event-arc-time">10:00 pm – 02:00 am</p>
          </div><!-- end #event-arc-info -->  Above &amp; Beyond &#8212; if you know trance, you know Above &amp; Beyond.  I can&#8217;t listen to these guys and not imagine dancing my ass off in a club  ... <div class="event-tickets"><a href="http://www.ticketfly.com/purchase/eventV2/240633" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets --><div class="event-twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketfly.com/purchase/eventV2/240633" data-text="@AboveAndBeyond at @RoyaleBoston (21+ Night) http://www.bostonedmcalendar.com/event/50-above-and-beyond-royale-21/" data-via="BostonEdmCal" data-size="large" data-count="none">Tweet</a></div>
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
        
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Wednesday</div>
        <div class="event-arc-day2">22</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$33 &#8211; Bloody Beetroots</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A84BF84C174" data-text="@BloodyBeetroots at @ParadiseRockClub" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Paradise Rock Club</p><p class="event-arc-age">18+</p><p class="event-arc-time">09:00 am</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketmaster.com/event/01004A84BF84C174" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Thursday</div>
        <div class="event-arc-day2">23</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$52 &#8211; Knife Party</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/127270/" data-text="@KnifePartyinc at Ocean Club (@OCSundays)" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Ocean Club</p><p class="event-arc-age">21+</p><p class="event-arc-time">07:00 pm – 01:00 am</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://wantickets.com/Events/127270/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Thursday</div>
        <div class="event-arc-day2">23</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$200 &#8211; (Weekend) Armin van Buuren, Knife Party, Steve Aoki</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/127212/" data-text="Memorial Day Weekend at @OCSundays" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Ocean Club</p><p class="event-arc-age">21+</p><p class="event-arc-time">07:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://wantickets.com/Events/127212/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Friday</div>
        <div class="event-arc-day2">24</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$35 &#8211; Steve Aoki</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wantickets.com/Events/127393/" data-text="@SteveAoki at @OCSundays" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Ocean Club</p><p class="event-arc-age">21+</p><p class="event-arc-time">08:00 pm – 01:00 am</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://wantickets.com/Events/127393/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Saturday</div>
        <div class="event-arc-day2">25</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$35 &#8211; R3hab, Quintino</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.wantickets.com/Events/127473/" data-text="@djR3hab and @QUINTINOO at @OCSundays" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Ocean Club</p><p class="event-arc-age">21+</p><p class="event-arc-time">08:00 pm – 01:00 am</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.wantickets.com/Events/127473/" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Tuesday</div>
        <div class="event-arc-day2">28</div>
        <div class="event-arc-month2">May</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$12 &#8211; Onra</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url=".com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3512384" data-text="@ONRAbeats at @MidEastClub" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Middle East Upstairs</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href=".com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3512384" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Sunday</div>
        <div class="event-arc-day2">02</div>
        <div class="event-arc-month2">Jun</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$19 &#8211; Mount Kimbie</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketmaster.com/event/01004A64B34A8F2C" data-text="@MountKimbie at @TheSinclair" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">The Sinclair</p><p class="event-arc-age">18+</p><p class="event-arc-time">07:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketmaster.com/event/01004A64B34A8F2C" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-18">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Wednesday</div>
        <div class="event-arc-day2">05</div>
        <div class="event-arc-month2">Jun</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$15 &#8211; Butch Clancy, Mayhem, DJ Getter &#8211; Middle East Downstairs</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3512604" data-text="@Butch_Clancy, @MayhemSLR, DJ Getter (@GetterDub) at @MidEastClub" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Middle East Downstairs</p><p class="event-arc-age">18+</p><p class="event-arc-time">08:00 pm</div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3512604" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->
    <div class="event-archive2 age-21">
      <div class="event-arc-data2">
        <div class="event-arc-weekday2">Tuesday</div>
        <div class="event-arc-day2">18</div>
        <div class="event-arc-month2">Jun</div>
      </div><!-- end #event-arc-data2 -->                
      <div class="event-arc-text">
        <h2 class="event-arc-title"><a>$25 &#8211; The Hood Internet (Cruise)</a></h2>
          <div class="event-arc-info2"><p class="event-twitter-share2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ticketfly.com/purchase/event/222567" data-text="@HoodInternet Cruise with @RockOnConcerts" data-via="BostonEdmCal" data-count="none">Tweet</a></p>
<p class="event-arc-venue">Rock On! Concert Cruise</p><p class="event-arc-age">21+</p><p class="event-arc-time">07:15 pm – 11:00 pm</p></div><!-- end #event-arc-info2 -->
<div class="event-tickets2"><a href="http://www.ticketfly.com/purchase/event/222567" target="_blank" >Buy Tickets</a></div><!-- end #event-tickets -->
      </div><!-- end #event-arc-text -->
    </div><!-- end #event-archive -->    <div class="pagination-pos">
    </div><!-- end .pagination-pos -->

  </div><!-- end .blog-archive -->
</div><!-- end .fixed-->  
</div><!-- end #content -->
</div><!-- end #wrap -->
