%h3 Venue JSON Import/Export
- if flash[:errors]
  %p.errors flash[:errors]
= form_tag(create_all_venues_path) do
  = text_area_tag(:venue_json, @venues.to_json, :rows => '10', :style => "width: 100%")
  = submit_tag("Import")