<!DOCTYPE html>
<head>
<!-- Meta -->
<meta name="viewport" content="width=720">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Title -->
<title>Boston EDM Calendar</title>

<!-- Favicon -->
<link rel="shortcut icon" href="http://www.bostonedmcalendar.com/wp-content/themes/clubber/favicon.ico" />

<!-- Stylesheets -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis" type="text/css" media="screen" />
<link rel="stylesheet" href="http://www.bostonedmcalendar.com/wp-content/themes/clubber/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://www.bostonedmcalendar.com/wp-content/themes/clubber/css/css_options.php" type="text/css" media="screen" />
<!-- Wordpress functions -->  
<link rel="alternate" type="application/rss+xml" title="Boston EDM Calendar &raquo; Events Comments Feed" href="http://www.bostonedmcalendar.com/sample-page/feed/" />
<%- if false %>
<!--
<link rel="stylesheet" href="http://www.bostonedmcalendar.com/wp-content/themes/clubber/css/dark.css" type="text/css" media="screen" />
<link rel='stylesheet' id='prettyPhoto-css'  href='http://www.bostonedmcalendar.com/wp-content/themes/clubber/css/prettyPhoto.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='shortcodes-css'  href='http://www.bostonedmcalendar.com/wp-content/themes/clubber/css/shortcodes.css?ver=3.5.1' type='text/css' media='all' />
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-includes/js/jquery/jquery.js?ver=1.8.3'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/backstretch.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/cycle.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/audio.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/mosaic.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/p.prettyPhoto.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/script.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-includes/js/comment-reply.min.js?ver=3.5.1'></script>

<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/plugins/youtube-embed-plus/scripts/ytprefs.min.js?ver=3.5.1'></script>

<link rel='next' title='Contact Us' href='http://www.bostonedmcalendar.com/contact-us/' />
-->
<%- end %>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/gmap.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/idTabs.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://www.bostonedmcalendar.com/wp-content/themes/clubber/js/dark.js?ver=3.5.1'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false&#038;ver=3.5.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bostonedmcalendar.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bostonedmcalendar.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="Ryan Taylor, ThemeForest, and Ruby on Rails :P" />
<link rel='canonical' href='http://www.bostonedmcalendar.herokuapp.com/' />
</head>

<!-- Begin Body -->
<body  class="home page page-id-2 page-template page-template-taxonomy-events-style6-php"> 

<!-- Manually added facebook code -->
<meta property="fb:admins" content="225056407517502"/>
<meta property="fb:app_id" content="198015273671174"/>
<div id="fb-root"></div>
<!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198015273671174";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
<!-- end of facebook code -->
<!-- Header -->
<div id="header" style="position:relative">       
  <div class="header-row fixed">
    <div id="title-and-like-box">
      <h1 id="title-text"><a href="http://bostonedmcalendar.com/"><span class="white-text">BOSTON</span> <span class="blue-text">EDM</span> <span class="white-text">CALENDAR</span></a></h1>
      <h3>(under construction)</h3>
<!-- Twitter Follow Widget -->
<div class="header-twitter-follow-button">
<a href="https://twitter.com/BostonEdmCal" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large" data-align="left" data-show-screen-name="false" data-width="82px">Follow @BostonEdmCal</a>
</div>
      <!-- Facebook Like Widget -->
      <div class="fb-like" data-href="http://facebook.com/bostonedmcalendar" data-send="false" data-show-faces="false" data-colorscheme="dark" data-layout="button_count"></div>
      <!-- end of facebook widget -->
    </div>
    <div id="logo" style="display:none;">
<!-- Added manually to replace "logo" -->
<style type="text/css">
#header h3{
  font-size: 20px;
  margin-bottom: 2px;
}
#title-text {
  font-size: 52px;
}
.blue-text > span,
.white-text> span{
  display: inline-block;
}
#title-text{
  height: 54px;
}
#title-text .white-text{
  color: #fff;
}
#title-text .blue-text{
  color: #02C0F8;
}
</style>
      <a href="http://www.bostonedmcalendar.com"><h1><span class="white-text">BOSTON</span> <span class="blue-text">EDM</span> <span class="white-text">CALENDAR</span></h1></a>    </div><!-- end #logo -->
<%- if false %>
    <div id="main">
      <div class="main-navigation">
        <div id="clubbmenu" class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-272" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item active"><a href="http://www.bostonedmcalendar.com/">Events</a></li>
<li id="menu-item-273" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://www.bostonedmcalendar.com/contact-us/">Contact Us</a></li>
</ul></div> 
      </div><!-- end .main-navigation -->     
    </div><!-- end #main -->
<%- end %>
  </div><!-- end .header-row fixed -->           
</div><!-- end #header -->

<%= yield %>

<!-- Footer -->
<div id="footer">
<%- if false %>

  <div class="footer-row fixed">

    <div class="footer-col">
    
    </div><!-- end .footer-col -->
        
    <div class="footer-col">
    
    </div><!-- end .footer-col -->
        
    <div class="footer-col">
    
    </div><!-- end .footer-col -->
        
    <div class="footer-col">
    
    </div><!-- end .footer-col -->  
  </div><!-- end .footer-row fixed -->      
<%- end %>
</div><!-- end #footer -->
<div class="footer-bottom"> 
  <div class="footer-row">
    <div class="footer-bottom-social">
      <ul id="footer-social">
        <li class="facebook footer-social"><a href="http://fb.me/BostonEdmCalendar"></a></li>
        <li class="twitter footer-social"><a href="https://twitter.com/BostonEdmCal"></a></li>
      </ul>
    </div>
    <!-- end .footer-bottom-social -->
    <div class="footer-bottom-copyright">&copy; 2013 Boston EDM Calendar. All Rights Reserved.</div>
    <!-- end .footer-bottom-copyright -->
  </div><!-- end .footer-row -->
</div><!-- end .footer-bottom -->
</body>
</html>
<!-- Twitter & Facebook code -->
<script id="twitter-wjs" src="//platform.twitter.com/widgets.js" async></script>
<script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=198015273671174" async></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37578083-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- end twitter -->
</html>